
.afoot {
  margin-top: 70px;
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
  background: white;
  border: 2px solid #c9c9c9;
  border-bottom: 0 solid #c9c9c9;
  font-weight: 700;
  border-radius: 8px 8px 0 0;
}

